<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Students</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Student</h2>
            <span class="text-light">Use the below form to Update an account</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="POST" id="update_student">
    <div class="new_student">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= student._id %>">
            <input type="text" name="name" value="<%= student.name %>" placeholder="Mark Stoenis">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="<%= student.email%>" placeholder="example@gmail.com">
        </div>

        <div class="form-group">
            <label for="Status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Not Complete" <%= student.status == 'Not Complete' ? 'checked' : '' %> >
                <label for="radio-4" class="radio-label">Not Complete</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="In Progress" <%= student.status == 'In Progress' ? 'checked' : '' %> >
                <label for="radio-5" class="radio-label">In Progress</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="status" value="Completed" <%= student.status == 'Completed' ? 'checked' : '' %> >
                <label for="radio-6" class="radio-label">Completed</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->